<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <title>Index Page</title>
  </head>
  <body>
    <h1>Welcome to our Express Server</h1>
    <p><a href="/login">Login</a></p>
  </body>
</html>
