<nav
  class="col-md-2 d-none d-md-block bg-light sidebar d-flex flex-column flex-grow-1"
>
  <div class="sidebar-header p-3 text-center">
    <h3>Test Sample</h3>
  </div>
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="/posts">Posts</a>
      </li>
    </ul>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="/posts">Posts1</a>
      </li>
    </ul>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="/posts">Posts2</a>
      </li>
    </ul>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="/posts">Posts3</a>
      </li>
    </ul>
  </div>
</nav>
